<div class="posts inner box-grid">
  {% for event in collections.futureEvents %}

  <article class="[ card frame ] [ clickable ]">
    {# post image #} {% if event.data.poster.src %}
    <span class="card-header box-block">
      <img
        class="card-image"
        src="{{ event.data.poster.src }}"
        alt="{{ post.data.poster.alt }}"
      />
    </span>

    {% endif %}

    <div class="card-content pt-700 pb-900 pl-300 pr-300">
      <h2>
        <a
          class="
            card-title-link
            color-primary
            weight-regular
            hover-color-secondary
          "
          href="{{ event.url }}"
          >{{ event.data.name }}</a
        >
      </h2>

      <time class="mt-300 datetime" datetime="{{ date | dateDisplay }}"
        >{{ event.data.day }} {{ event.data.date | dateDisplay }}</time
      >
    </div>
  </article>

  {% endfor %}
</div>
