<div class="posts inner box-grid">
  {% for event in collections.futureEvents %}

  <article class="[ card frame ] [ clickable ]">
    {# post image #} {% if event.data.poster.src %}
    <span class="card-header box-block">
      <span class="card-categories">
        {% for item in event.data.tags %} {%- if item !== 'blog' -%}
        <span class="category box-block bg-secondary color-primary text-300">{{
          item | capitalize
        }}</span>
        {%- endif -%} {% endfor %}
      </span>
      <img
        class="card-image"
        src="{{ event.data.poster.src }}"
        alt="{{ post.data.poster.alt }}"
      />
    </span>

    {% endif %}

    <div class="card-content pt-700 pb-900 pl-300 pr-300">
      <h2>
        <a
          class="
            card-title-link
            color-primary
            weight-regular
            hover-color-secondary
          "
          href="{{ event.url }}"
          >{{ event.data.name }}</a
        >
      </h2>

      <time
        class="datetime color-grey text-400"
        datetime="{{ event.data.dayDate | timestamp }}"
      >
        {{ event.data.dayDate }}
      </time>
    </div>
  </article>

  {% endfor %}
</div>
