    <div class="posts inner box-grid">
      {% for event in collections.pastEvents %}

      <article class="[ card frame ]">
        {# post image #} {% if event.data.poster.src %}
        <span class="card-header box-block">
          <span class="card-categories">
            {% for item in event.data.tags %} {%- if item !== 'blog' -%}

            <span
              class="category box-block bg-secondary color-primary text-300"
              >{{ item | capitalize }}</span
            >

            {%- endif -%} {% endfor %}
          </span>

          <img
            class="card-image lazy"
            src="{{ event.data.poster.src }}"
            alt="{{ post.data.poster.alt }}"
          />
        </span>

        {% endif %}

        <div class="card-content pt-700 pb-900 pl-300 pr-300">
          <h2>
            <a
              class="
                card-title-link
                color-primary
                weight-regular
                hover-color-secondary
              "
              href="{{ event.url }}"
              >{{ event.data.name }}</a
            >
          </h2>

          <time class="mt-300 datetime" datetime="{{ date | dateDisplay }}"
      >{{ event.data.day }} {{ event.data.date | dateDisplay }}</time
    >
        </div>
      </article>

      {% endfor %}
    </div>
  </div>
</main>
