<section class="bg-white">
  <div class="inner box-flex pt-600 pb-600">
    <article class="[ featured ]">
      <div class="[ wrapper ] [ flow ]">
        <div class="[ featured__inner ] [ flow ]">
          <div class="[ featured__intro ] [ flow flow-space-300 ]">
            <div class="fancy-border-radius fbr-sep"></div>
            <h3>{{ featured.title }}</h3>
            <p class="[ featured__summary ]">
              {{ featured.summary }}
            </p>
          </div>
          {% for item in collections.featured %}
          <div
            class="[ featured__item frame ] [ clickable ] data-frame='primary'"
          >
            <div class="[ featured__image ]">
              <a
                href="{{ item.url }}"
                aria-label="See {{ item.data.name }}"
                data-frame="quaternary"
              >
                <img
                  src="{{ item.data.poster.src }}"
                  alt="{{ item.data.poster.alt }}"
                  class="radius"
                />
              </a>
            </div>
            <div class="[ featured__content ]">
              <h2>{{ item.data.name }}</h2>
              <time datetime="{{ item.data.date }}">{{
                item.data.date | dateDisplay
              }}</time>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="[ featured__action ] [ flow-space-700 ]">
          <a href="/events/" class="button">See more events</a>
        </div>
      </div>
    </article>
  </div>
</section>
