//========== Links ==========//

a {
	text-decoration: none;
	transition: color v(transition-duration) v(transition-timing);

	&:not([class]) {
		color: currentColor;
		border-bottom: v(border-size) solid get-color('secondary');
		padding-bottom: 0.1rem;
		text-decoration-skip-ink: auto;

		&:hover {
			@include apply-utility('color', 'secondary');
		}
	}
}

:focus {
	outline: 2px solid get-color('primary');
	outline-offset: 0.25rem;
}
