//==========  Header  ==========//
header {
	position: relative;
	z-index: 2;
}
// logo
.logo {
	--logo-size: #{get-size('500')};
	font-size: v(logo-size);
	margin: 0 auto;

	&:hover {
		@include apply-utility('color', 'secondary');
	}
}

@include media-query('mobileXL') {
	.logo {
		--logo-size: #{get-size('600')};
		margin: 0 auto 0 0;
	}
}

@include media-query('mobileXL') {
	.header-inner {
		align-items: center;
		justify-content: space-between;
		align-self: flex-end;
	}
}
.fancy-border-radius {
	z-index: -1;
	position: absolute;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	max-width: 900px;
	height: auto;
	background: #d36b11;
	mix-blend-mode: lighten;
	margin-top: -10px;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
	}
}
