//==========  Main  ==========//

.main {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	margin-top: get-size('200');
	flex-direction: column;
	flex: 1;
	z-index: 1;

	&:focus {
		outline: 0;
	}
}

// page header
.page-header {
	--gap: #{get-size('800')};
	color: get-color('primary');
	margin-bottom: v(gap);
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
	height: 70vh;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background: #d36b11;
		//background: linear-gradient(-45deg, yellow, red);
		opacity: 0.5;
		mix-blend-mode: soft-light;
	}

	> h1 {
		--gap: 0;
		display: inline-block;
		position: relative;
		padding: get-size('600');
		//@include bg-opacity;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			z-index: -1;
			background: #d36b11;
			// background: linear-gradient(-45deg, green, yellow, red);
			// opacity: .5;
			mix-blend-mode: screen;
		}
	}
}

@include media-query('tablet') {
	.page-header {
		--gap: #{get-size('900')};
	}
}
