//==========  Nav  ==========//

.nav {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
	}
	.link {
		&.active,
		&::hover {
			@include apply-utility('color', 'primary');
			text-decoration: underline;
			text-underline-position: under;
			text-decoration-skip: ink;
		}

		&-get-started {
			border-radius: v(border-radius);
			transition: background-color v(transition-duration) v(transition-timing);

			&:hover {
				@include apply-utility('bg', 'white');
				@include apply-utility('color', 'primary');
			}
		}
	}
}
