//==========  Nav  ==========//

.nav {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
	}
	.fancy-border-radius.fbr-sep {
		margin-right: -20px;
		margin-top: -10px;
		margin-bottom: -20px;
	}
	.link {
		height: get-size('900');
		line-height: get-size('900');

		&.active,
		&:hover {
			@include apply-utility('color', 'primary');
			text-decoration: underline;
			text-underline-position: under;
			text-decoration-skip: ink;
		}

		&-get-started {
			border-radius: v(border-radius);
			transition: background-color v(transition-duration) v(transition-timing);

			&:hover {
				@include apply-utility('bg', 'white');
				@include apply-utility('color', 'primary');
			}
		}
	}
}
