---
layout: base
---
<main id="main" class="main box-flex pb-600" tabindex="-1">
    <div id="wrapper" class="wrapper box-flex pb-900">
        <article>
            <header class="page-header length-optimal mb-1000 pb-500">

                <h1 class="post-title">{{ name }}</h1>

                {% if sub_heading %}

                    <p class="sub-heading">{{ sub_heading }}</p>

                {% endif %}
            </header>
        </article>
    </div>
    <article class="inner event box-flex">
    
        {# featured post image #}
        {% if poster.src %}

            <figure class="event-image bg-white pt-600 pr-600 pl-600 mb-1000">

                <img src="{{ poster.src }}" alt="{{ poster.alt }}">

                {% if poster.alt %}
                    <figcaption class="post-image-caption bg-white color-primary pt-600 pb-600 text-400">
                    <span class="sr-only">{{ poster.alt }}</span>
                    </figcaption>
                {% endif %}

            </figure>

        {% endif %}

        <div class="content flow length-optimal">
                <div class="post-meta box-flex mt-800 text-400">
                    {% if tags %}
                        <div class="box-flex">
                            <ul class="categories">

                                {# this will create a comma for multiple category links #}
                                {% set comma = joiner() %}

                                {% for item in tags %}

                                    {%- if item !== 'blog' -%}

                                        <li class="category">
                                            <a href="/categories/{{ item }}">{{ comma() }} {{ item | capitalize }}</a>
                                        </li>

                                    {%- endif -%}

                                {% endfor %}

                            </ul>
                        </div>
                    {% endif %}
                </div>
            <h2><time class="datetime" datetime="{{ dayDate | timestamp }}">{{ dayDate }}</time></h2>
            {{ description | markdownFilter | safe }}

            

        </div>

    </article>

<div class="inner">    
    <nav class="pagination pr-600 pl-600 mb-1000" aria-label="Pagination">
        <ul class="items text-400 tablet:box-flex">
            {% if previous_event %}<li class="mb-300"><span class="weight-bold">Previous:</span> <a href="{{ previous_post.url }}">{{ previous_event.data.title }}</a></li>{% endif %}
            {% if next_event %}<li><span class="weight-bold">Next:</span> <a href="{{ next_event.url }}">{{ next_event.data.title }}</a></li>{% endif %}
        </ul>
    </nav>
</div>
    {# schema #}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ title | truncate(110) }}",
        {% if post_image %}
        "image": "{{ site.url }}{{ post_image }}",
        {% endif %}
        "author": {
            "@type": "Person",
            "name": "{{ site.author.name }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.name }}",
            "logo": {
            "@type": "ImageObject",
            "url": "{{ site.url }}/images/meta/article-schema.png"
            }
        },
        "datePublished": "{{ date | timestamp }}",
        "dateModified": "{{ date | timestamp }}"
    }
    </script>

</main>

