---
layout: base
---

<main id="main" class="main box-flex pb-1100" tabindex="-1">
  <div class="bg-white pt-1100 pb-1100">
    <h1>Past events</h1>
    {% include "../components/events-list-past.njk" %}
    <a href="/events/">Upcoming Events</a>
  </div>
</main>
