---
layout: base
pagination:
 data: collections.qhevents
 size: 3
 alias: qhe
---

<main id="main" class="main box-flex" tabindex="-1">
    <div id="wrapper" class="wrapper box-flex pb-900">
        <article id="container-centre" class="column centre">

            <header class="page-header inner pt-700 pb-600">

                <h1 class="page-title">{{ title }}</h1>

            </header>

        </article>
    </div>
    <div class="bg-white pt-1100 pb-1100">

        <div class="posts inner box-grid">

            {% for event in qhe %}

               <article class="card">

                    {# post image #}
                    {% if event.data.poster.src %}

                        <a class="box-block" href="{{ event.url }}">

                            <span class="card-header box-block">

                                <span class="card-categories">

                                    {% for item in event.data.tags %}

                                        {%- if item !== 'blog' -%}
                                            
                                            <span class="category box-block bg-secondary color-primary text-300">{{ item | capitalize }}</span>
                                            

                                        {%- endif -%}

                                    {% endfor %}

                                </span>

                                <img class="card-image" data-src="{{ event.data.poster.src }}" alt="{{ post.data.poster.alt }}">

                            </span>

                        </a>

                    {% endif %}

                    <div class="card-content pt-700 pb-900 pl-300 pr-300">

                        <h2><a class="card-title-link color-primary weight-regular hover-color-secondary" href="{{ event.url }}">{{ event.data.name }}</a></h2>

                        <time class="datetime color-grey text-400" datetime="{{ event.data.dayDate | timestamp }}">
                            {{ event.data.dayDate }}
                        </time>

                    </div>

                </article>

            {% endfor %}

        </div>

    </div>

</main>
