---
layout: base
---

<main id="main" class="main box-flex pb-1100" tabindex="-1">
  <p>Chhose from our legendary food menus</p>
  <div class="bg-white pt-1100 pb-1100">
    {% include "../components/food-list.njk" %}
  </div>
</main>
