---
layout: base
---

<main id="main" class="main box-flex pb-1100" tabindex="-1">
  <div class="inner pr-600 pl-600 content flow">
    {{ content | safe }}

    {% include "components/featured.njk" %}
  </div>
  <script type="application/ld+json">
    {
    "@context": "https://schema.org",
        "@type": "BarOrPub",
        "url": "{{site.url}}",
        "smokingAllowed": "true",
        "telephone": "+44 (0)117 9020953",
        "sameAs": [
            "https://www.facebook.com/Queens-Head-Easton-1008716609237165/"
        ],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "171 Easton Road",
            "addressLocality": "Bristol",
            "postalCode": "BS5 0ES",
            "addressCountry": "GB"
        },
        "image": "{{ site.url }}images/qh-logo.png",
        "acceptsReservations": "No",
        "description": "Friendly local pub  with an excellent beer selection. Freshly made Pub food and Sunday lunches. An eclectic blend of quality music played by DJ's at the weekends. Large, partially covered pub garden with heating",
        "menu": "https://queensheadeaston.co.uk/food-menu/",
        "geo": {
            "@type": "GeoCoordinates",
            "name": "Geo Location of The Queens Head, Easton. Bristol. BS5 0ES",
            "latitude": "51.46190761522082, ",
            "longitude": "-2.566608829100664"
        },
        "openingHoursSpecification": [

                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Sunday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Saturday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "00:00:00",
                    "dayOfWeek": "https://schema.org/Saturday",
                    "opens":  "17:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Friday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "00:00:00",
                    "dayOfWeek": "https://schema.org/Friday",
                    "opens":  "17:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Thursday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "00:00:00",
                    "dayOfWeek": "https://schema.org/Thursday",
                    "opens":  "17:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Wednesday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "00:00:00",
                    "dayOfWeek": "https://schema.org/Wednesday",
                    "opens":  "17:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Tuesday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "00:00:00",
                    "dayOfWeek": "https://schema.org/Tuesday",
                    "opens":  "17:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "15:00:00",
                    "dayOfWeek": "https://schema.org/Monday",
                    "opens":  "12:00:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "closes":  "00:00:00",
                    "dayOfWeek": "https://schema.org/Monday",
                    "opens":  "17:00:00"
                }

        ],
        "hasMap": "https://www.google.com/maps/place/Queens+Head+Easton/@51.4617973,-2.5688619,17z/data=!4m12!1m6!3m5!1s0x48718e4146d5ef17:0x3505f46eae2b112c!2sQueens+Head+Easton!8m2!3d51.4617736!4d-2.5666369!3m4!1s0x48718e4146d5ef17:0x3505f46eae2b112c!8m2!3d51.4617736!4d-2.5666369",
        "servesCuisine": "English Pub Food and Sunday lunch",
        "name": "The Queens Head",
        "logo": "https://bakerstreetstation.files.wordpress.com/2013/10/baker-st-small.png",
        "additionalType": "https://en.wikipedia.org/wiki/Pub"
    },
            "url": "{{site.url}}",
            "smokingAllowed": "true",
            "telephone": "+44 (0)117 9020953",
            "sameAs": [
                "https://www.facebook.com/Queens-Head-Easton-1008716609237165/"
            ],
            "address": {
            "@type": "PostalAddress",
            "streetAddress": "171 Easton Road",
            "addressLocality": "Bristol",
            "postalCode": "BS5 0ES",
            "addressCountry": "GB"
            },
            "image": "{{ site.url }}images/qh-logo.png",
            "acceptsReservations": "No",
            "description": "Friendly local pub  with an excellent beer selection. Freshly made Pub food and Sunday lunches. An eclectic blend of quality music played by DJ's at the weekends. Large, partially covered pub garden with heating",
            "menu": "https://queensheadeaston.co.uk/food-menu/",
            "geo": {
                "@type": "GeoCoordinates",
                "name": "Geo Location of The Queens Head, Easton. Bristol. BS5 0ES",
                "latitude": "51.46190761522082, ",
                "longitude": "-2.566608829100664",
            },
            "openingHoursSpecification": [
                {
                    "@type": "OpeningHoursSpecification",
                    "name": "The Queens Head Normal Hours",
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Sunday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Saturday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "00:00:00",
                        "dayOfWeek": "https://schema.org/Saturday",
                        "opens":  "17:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Friday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "00:00:00",
                        "dayOfWeek": "https://schema.org/Friday",
                        "opens":  "17:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Thursday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "00:00:00",
                        "dayOfWeek": "https://schema.org/Thursday",
                        "opens":  "17:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Wednesday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "00:00:00",
                        "dayOfWeek": "https://schema.org/Wednesday",
                        "opens":  "17:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Tuesday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "00:00:00",
                        "dayOfWeek": "https://schema.org/Tuesday",
                        "opens":  "17:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "15:00:00",
                        "dayOfWeek": "https://schema.org/Monday",
                        "opens":  "12:00:00"
                    },
                    {
                        "@type": "OpeningHoursSpecification",
                        "closes":  "00:00:00",
                        "dayOfWeek": "https://schema.org/Monday",
                        "opens":  "17:00:00"
                    }
                }
            ],
            "hasMap": "https://www.google.com/maps/place/Queens+Head+Easton/@51.4617973,-2.5688619,17z/data=!4m12!1m6!3m5!1s0x48718e4146d5ef17:0x3505f46eae2b112c!2sQueens+Head+Easton!8m2!3d51.4617736!4d-2.5666369!3m4!1s0x48718e4146d5ef17:0x3505f46eae2b112c!8m2!3d51.4617736!4d-2.5666369",
            "servesCuisine": "English Pub Food and Sunday lunch",
            "name": "The Queens Head",
            "logo": "https://bakerstreetstation.files.wordpress.com/2013/10/baker-st-small.png",
            "additionalType": "https://en.wikipedia.org/wiki/Pub"
  </script>
</main>
