---
layout: base
---

<main id="main" class="main box-flex pb-1100" tabindex="-1">

    <article id="container-centre" class="column centre">

        <div class="content flow">

            {{ content | safe }}

        </div>

    </article>

</main>
