.event {
  .content {
    @include media-query("laptop") {
      margin: 0 auto;
    }
  }

  .event-image {
    margin: 0 auto;
    @include media-query("tablet") {
      max-width: 30vw;
    }
  }
  .event-info {
    max-width: 35%;
  }
}
